/*****************************************************
*  style_custom.css
*
*  Custom ypart css to override adhocracy css
*
*  - Main navigation
*  - Tabs onboarding aboutpage
*
******************************************************/

/* Font */
label {
    font-weight: normal;
}

/* Logo */
#logo {
    height: 90px;
}

#subheader {
    background: $bg1;
    @include box-shadow(inset 0 -1em 1.5em -1em darken($bg1, 15%));
}

/* Navigation */
#subnav {
    li {
        a {
            background: none;
            color: $fg1;
        }
    }
    li a:hover, li.current a, li.current a:hover {
        background: white;
        color: $black;
    }
}

#col1 .content_list > li, #left_block .content_list > li {
    padding-left: 11px;
    padding-right: 11px;

    &:nth-child(odd) {
        background: none;
    }
    &:nth-child(even) {
        background: $bg1;
    }
}

.register {
    line-height: 33px;
}

.register a.button {
    font-size: 125%;
    line-height: 33px;
}

/*Wordpress pages sidebar*/

#main .widget-area .shailan_SubpagesWidget,
#main .widget-container ul,
#main ul.subpages li,
#main .widget-container {
    list-style: none;
    background: none;
}
#col3 #secondary {
    padding-top: 20px;
}

#footer,
#footer .page_wrapper {
    background-color: transparent;
    background-image: none;
}
#footer .footer_line {
    border-top: 1px dotted #c5c5c5;
    padding-top: 1.5em;
}
#footer .footer_line > div {
    border-right: 1px dotted #c5c5c5;

    &:last-child {
        border-right: none;
    }

    h3, a {
        color: $primary-color;
    }
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* override geo.css */
#content-bottom,
#map_wrapper {
    display:none;
}
#content-top {
    height: auto !important;
}

a.participate {
    color: $black;
}

// center event pager icons
#col1 ul.content_list.events_pager > li:before {
    left: 9px;
}

a.new_comment {
    color: $black;
}

// front page
#content-startpage {
    background: none;
    float: none;
    width: auto;
    height: auto;
    padding: 0;

    img {
        max-width: 100%;
    }
    .cell h2:first-child {
        margin-top: 0;
    }
    .row {
        margin-top: 3em;
    }
}

/* manually overriden for now, not as it should be via diazo */
footer {
  border-top: #0FC solid 8px;
  background-color: #000 !important;
  box-shadow: 0px 500px 0px 500px #000; /* hack via http://stackoverflow.com/questions/9741701/how-can-i-extend-a-footer-to-bottom-of-page */
}

footer * ul{
  list-style-type: none;
}

#footer .footer_line {
  border-top: initial !important;
  padding-top: 0 !important;
}

html #footer .footer_line > div {
  border-right: none !important;
  border-left: none !important;
}

footer * a {
  color: #42d4b7 !important;
  text-decoration: none !important;
}

#footer * a:hover {
  color: white !important;
}

footer * li {
  padding: 8px 0px !important;
}

html #nav .hlist > ul > li.current > a {
  color: #000 !important; /* show current active nav link in black */
}


/* use really big titles for instances */
.content_list.instances_pager * .link {
  font-size: 40px;
}

/* align image to big titles */
.content_list.instances_pager .content_box img{
  top: 16px;
  position:relative;
}

/* use a lighter color for the background of even cells due to the light link color*/
#col1 .content_list > li:nth-child(even), #left_block .content_list > li:nth-child(even) {
  background: #fafafa;
}

/*jquery UI min accordion stuff*/

/*! jQuery UI - v1.11.4 - 2015-04-06 with accordion
* http://jqueryui.com
* Includes: core.js, widget.js, accordion.js
* Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */
.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-accordion .ui-accordion-header{display:block;cursor:pointer;position:relative;margin:2px 0 0 0;padding:.5em .5em .5em .7em;min-height:0;font-size:100%}.ui-accordion .ui-accordion-icons{padding-left:2.2em}.ui-accordion .ui-accordion-icons .ui-accordion-icons{padding-left:2.2em}.ui-accordion .ui-accordion-header .ui-accordion-header-icon{position:absolute;left:.5em;top:50%;margin-top:-8px}.ui-accordion .ui-accordion-content{padding:1em 2.2em;border-top:0;overflow:auto}#col1 .ui-widget{font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size:1.1em}#col1 .ui-widget .ui-widget{font-size:1em}#col1 .ui-widget input,#col1 .ui-widget select,#col1 .ui-widget textarea,#col1 .ui-widget button{font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size:1em}#col1 .ui-widget-content{border:1px solid #ddd;background:#eee url("/static_theme/static/images/jqueryUI/images/ui-bg_highlight-soft_100_eeeeee_1x100.png") 50% top repeat-x;color:#333}#col1 .ui-widget-content a{color:#333}#col1 .ui-widget-header{border:1px solid #e78f08;background:#f6a828 url("/static_theme/static/images/jqueryUI/images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;color:#fff;font-weight:bold}#col1 .ui-widget-header a{color:#fff}#col1 .ui-state-default,#col1 .ui-widget-content .ui-state-default,#col1 .ui-widget-header .ui-state-default{border:1px solid #ccc;background:#f6f6f6 url("/static_theme/static/images/jqueryUI/images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;font-weight:bold;color:#1c94c4}#col1 .ui-state-default a,#col1 .ui-state-default a:link,#col1 .ui-state-default a:visited{color:#1c94c4;text-decoration:none}#col1 .ui-state-hover,#col1 .ui-widget-content .ui-state-hover,#col1 .ui-widget-header .ui-state-hover,#col1 .ui-state-focus,#col1 .ui-widget-content .ui-state-focus,#col1 .ui-widget-header .ui-state-focus{border:1px solid #fbcb09;background:#fdf5ce url("/static_theme/static/images/jqueryUI/images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;font-weight:bold;color:#c77405}#col1 .ui-state-hover a,#col1 .ui-state-hover a:hover,#col1 .ui-state-hover a:link,#col1 .ui-state-hover a:visited,#col1 .ui-state-focus a,#col1 .ui-state-focus a:hover,#col1 .ui-state-focus a:link,#col1 .ui-state-focus a:visited{color:#c77405;text-decoration:none}#col1 .ui-state-active,#col1 .ui-widget-content .ui-state-active,#col1 .ui-widget-header .ui-state-active{border:1px solid #fbd850;background:#fff url("/static_theme/static/images/jqueryUI/images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;font-weight:bold;color:#eb8f00}#col1 .ui-state-active a,#col1 .ui-state-active a:link,#col1 .ui-state-active a:visited{color:#eb8f00;text-decoration:none}#col1 .ui-state-highlight,#col1 .ui-widget-content .ui-state-highlight,#col1 .ui-widget-header .ui-state-highlight{border:1px solid #fed22f;background:#ffe45c url("/static_theme/static/images/jqueryUI/images/ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x;color:#363636}#col1 .ui-state-highlight a,#col1 .ui-widget-content .ui-state-highlight a,#col1 .ui-widget-header .ui-state-highlight a{color:#363636}#col1 .ui-state-error,#col1 .ui-widget-content .ui-state-error,#col1 .ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#b81900 url("/static_theme/static/images/jqueryUI/images/ui-bg_diagonals-thick_18_b81900_40x40.png") 50% 50% repeat;color:#fff}#col1 .ui-state-error a,#col1 .ui-widget-content .ui-state-error a,#col1 .ui-widget-header .ui-state-error a{color:#fff}#col1 .ui-state-error-text,#col1 .ui-widget-content .ui-state-error-text,#col1 .ui-widget-header .ui-state-error-text{color:#fff}#col1 .ui-priority-primary,#col1 .ui-widget-content .ui-priority-primary,#col1 .ui-widget-header .ui-priority-primary{font-weight:bold}#col1 .ui-priority-secondary,#col1 .ui-widget-content .ui-priority-secondary,#col1 .ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}#col1 .ui-state-disabled,#col1 .ui-widget-content .ui-state-disabled,#col1 .ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}#col1 .ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}#col1 .ui-icon{width:16px;height:16px}#col1 .ui-icon,#col1 .ui-widget-content .ui-icon{background-image:url("/static_theme/static/images/jqueryUI/images/ui-icons_222222_256x240.png")}#col1 .ui-widget-header .ui-icon{background-image:url("/static_theme/static/images/jqueryUI/images/ui-icons_ffffff_256x240.png")}#col1 .ui-state-default .ui-icon{background-image:url("/static_theme/static/images/jqueryUI/images/ui-icons_ef8c08_256x240.png")}#col1 .ui-state-hover .ui-icon,#col1 .ui-state-focus .ui-icon{background-image:url("/static_theme/static/images/jqueryUI/images/ui-icons_ef8c08_256x240.png")}#col1 .ui-state-active .ui-icon{background-image:url("/static_theme/static/images/jqueryUI/images/ui-icons_ef8c08_256x240.png")}#col1 .ui-state-highlight .ui-icon{background-image:url("/static_theme/static/images/jqueryUI/images/ui-icons_228ef1_256x240.png")}#col1 .ui-state-error .ui-icon,#col1 .ui-state-error-text .ui-icon{background-image:url("/static_theme/static/images/jqueryUI/images/ui-icons_ffd27a_256x240.png")}#col1 .ui-icon-blank{background-position:16px 16px}#col1 .ui-icon-carat-1-n{background-position:0 0}#col1 .ui-icon-carat-1-ne{background-position:-16px 0}#col1 .ui-icon-carat-1-e{background-position:-32px 0}#col1 .ui-icon-carat-1-se{background-position:-48px 0}#col1 .ui-icon-carat-1-s{background-position:-64px 0}#col1 .ui-icon-carat-1-sw{background-position:-80px 0}#col1 .ui-icon-carat-1-w{background-position:-96px 0}#col1 .ui-icon-carat-1-nw{background-position:-112px 0}#col1 .ui-icon-carat-2-n-s{background-position:-128px 0}#col1 .ui-icon-carat-2-e-w{background-position:-144px 0}#col1 .ui-icon-triangle-1-n{background-position:0 -16px}#col1 .ui-icon-triangle-1-ne{background-position:-16px -16px}#col1 .ui-icon-triangle-1-e{background-position:-32px -16px}#col1 .ui-icon-triangle-1-se{background-position:-48px -16px}#col1 .ui-icon-triangle-1-s{background-position:-64px -16px}#col1 .ui-icon-triangle-1-sw{background-position:-80px -16px}#col1 .ui-icon-triangle-1-w{background-position:-96px -16px}#col1 .ui-icon-triangle-1-nw{background-position:-112px -16px}#col1 .ui-icon-triangle-2-n-s{background-position:-128px -16px}#col1 .ui-icon-triangle-2-e-w{background-position:-144px -16px}#col1 .ui-icon-arrow-1-n{background-position:0 -32px}#col1 .ui-icon-arrow-1-ne{background-position:-16px -32px}#col1 .ui-icon-arrow-1-e{background-position:-32px -32px}#col1 .ui-icon-arrow-1-se{background-position:-48px -32px}#col1 .ui-icon-arrow-1-s{background-position:-64px -32px}#col1 .ui-icon-arrow-1-sw{background-position:-80px -32px}#col1 .ui-icon-arrow-1-w{background-position:-96px -32px}#col1 .ui-icon-arrow-1-nw{background-position:-112px -32px}#col1 .ui-icon-arrow-2-n-s{background-position:-128px -32px}#col1 .ui-icon-arrow-2-ne-sw{background-position:-144px -32px}#col1 .ui-icon-arrow-2-e-w{background-position:-160px -32px}#col1 .ui-icon-arrow-2-se-nw{background-position:-176px -32px}#col1 .ui-icon-arrowstop-1-n{background-position:-192px -32px}#col1 .ui-icon-arrowstop-1-e{background-position:-208px -32px}#col1 .ui-icon-arrowstop-1-s{background-position:-224px -32px}#col1 .ui-icon-arrowstop-1-w{background-position:-240px -32px}#col1 .ui-icon-arrowthick-1-n{background-position:0 -48px}#col1 .ui-icon-arrowthick-1-ne{background-position:-16px -48px}#col1 .ui-icon-arrowthick-1-e{background-position:-32px -48px}#col1 .ui-icon-arrowthick-1-se{background-position:-48px -48px}#col1 .ui-icon-arrowthick-1-s{background-position:-64px -48px}#col1 .ui-icon-arrowthick-1-sw{background-position:-80px -48px}#col1 .ui-icon-arrowthick-1-w{background-position:-96px -48px}#col1 .ui-icon-arrowthick-1-nw{background-position:-112px -48px}#col1 .ui-icon-arrowthick-2-n-s{background-position:-128px -48px}#col1 .ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}#col1 .ui-icon-arrowthick-2-e-w{background-position:-160px -48px}#col1 .ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}#col1 .ui-icon-arrowthickstop-1-n{background-position:-192px -48px}#col1 .ui-icon-arrowthickstop-1-e{background-position:-208px -48px}#col1 .ui-icon-arrowthickstop-1-s{background-position:-224px -48px}#col1 .ui-icon-arrowthickstop-1-w{background-position:-240px -48px}#col1 .ui-icon-arrowreturnthick-1-w{background-position:0 -64px}#col1 .ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}#col1 .ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}#col1 .ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}#col1 .ui-icon-arrowreturn-1-w{background-position:-64px -64px}#col1 .ui-icon-arrowreturn-1-n{background-position:-80px -64px}#col1 .ui-icon-arrowreturn-1-e{background-position:-96px -64px}#col1 .ui-icon-arrowreturn-1-s{background-position:-112px -64px}#col1 .ui-icon-arrowrefresh-1-w{background-position:-128px -64px}#col1 .ui-icon-arrowrefresh-1-n{background-position:-144px -64px}#col1 .ui-icon-arrowrefresh-1-e{background-position:-160px -64px}#col1 .ui-icon-arrowrefresh-1-s{background-position:-176px -64px}#col1 .ui-icon-arrow-4{background-position:0 -80px}#col1 .ui-icon-arrow-4-diag{background-position:-16px -80px}#col1 .ui-icon-extlink{background-position:-32px -80px}#col1 .ui-icon-newwin{background-position:-48px -80px}#col1 .ui-icon-refresh{background-position:-64px -80px}#col1 .ui-icon-shuffle{background-position:-80px -80px}#col1 .ui-icon-transfer-e-w{background-position:-96px -80px}#col1 .ui-icon-transferthick-e-w{background-position:-112px -80px}#col1 .ui-icon-folder-collapsed{background-position:0 -96px}#col1 .ui-icon-folder-open{background-position:-16px -96px}#col1 .ui-icon-document{background-position:-32px -96px}#col1 .ui-icon-document-b{background-position:-48px -96px}#col1 .ui-icon-note{background-position:-64px -96px}#col1 .ui-icon-mail-closed{background-position:-80px -96px}#col1 .ui-icon-mail-open{background-position:-96px -96px}#col1 .ui-icon-suitcase{background-position:-112px -96px}#col1 .ui-icon-comment{background-position:-128px -96px}#col1 .ui-icon-person{background-position:-144px -96px}#col1 .ui-icon-print{background-position:-160px -96px}#col1 .ui-icon-trash{background-position:-176px -96px}#col1 .ui-icon-locked{background-position:-192px -96px}#col1 .ui-icon-unlocked{background-position:-208px -96px}#col1 .ui-icon-bookmark{background-position:-224px -96px}#col1 .ui-icon-tag{background-position:-240px -96px}#col1 .ui-icon-home{background-position:0 -112px}#col1 .ui-icon-flag{background-position:-16px -112px}#col1 .ui-icon-calendar{background-position:-32px -112px}#col1 .ui-icon-cart{background-position:-48px -112px}#col1 .ui-icon-pencil{background-position:-64px -112px}#col1 .ui-icon-clock{background-position:-80px -112px}#col1 .ui-icon-disk{background-position:-96px -112px}#col1 .ui-icon-calculator{background-position:-112px -112px}#col1 .ui-icon-zoomin{background-position:-128px -112px}#col1 .ui-icon-zoomout{background-position:-144px -112px}#col1 .ui-icon-search{background-position:-160px -112px}#col1 .ui-icon-wrench{background-position:-176px -112px}#col1 .ui-icon-gear{background-position:-192px -112px}#col1 .ui-icon-heart{background-position:-208px -112px}#col1 .ui-icon-star{background-position:-224px -112px}#col1 .ui-icon-link{background-position:-240px -112px}#col1 .ui-icon-cancel{background-position:0 -128px}#col1 .ui-icon-plus{background-position:-16px -128px}#col1 .ui-icon-plusthick{background-position:-32px -128px}#col1 .ui-icon-minus{background-position:-48px -128px}#col1 .ui-icon-minusthick{background-position:-64px -128px}#col1 .ui-icon-close{background-position:-80px -128px}#col1 .ui-icon-closethick{background-position:-96px -128px}#col1 .ui-icon-key{background-position:-112px -128px}#col1 .ui-icon-lightbulb{background-position:-128px -128px}#col1 .ui-icon-scissors{background-position:-144px -128px}#col1 .ui-icon-clipboard{background-position:-160px -128px}#col1 .ui-icon-copy{background-position:-176px -128px}#col1 .ui-icon-contact{background-position:-192px -128px}#col1 .ui-icon-image{background-position:-208px -128px}#col1 .ui-icon-video{background-position:-224px -128px}#col1 .ui-icon-script{background-position:-240px -128px}#col1 .ui-icon-alert{background-position:0 -144px}#col1 .ui-icon-info{background-position:-16px -144px}#col1 .ui-icon-notice{background-position:-32px -144px}#col1 .ui-icon-help{background-position:-48px -144px}#col1 .ui-icon-check{background-position:-64px -144px}#col1 .ui-icon-bullet{background-position:-80px -144px}#col1 .ui-icon-radio-on{background-position:-96px -144px}#col1 .ui-icon-radio-off{background-position:-112px -144px}#col1 .ui-icon-pin-w{background-position:-128px -144px}#col1 .ui-icon-pin-s{background-position:-144px -144px}#col1 .ui-icon-play{background-position:0 -160px}#col1 .ui-icon-pause{background-position:-16px -160px}#col1 .ui-icon-seek-next{background-position:-32px -160px}#col1 .ui-icon-seek-prev{background-position:-48px -160px}#col1 .ui-icon-seek-end{background-position:-64px -160px}#col1 .ui-icon-seek-start{background-position:-80px -160px}#col1 .ui-icon-seek-first{background-position:-80px -160px}#col1 .ui-icon-stop{background-position:-96px -160px}#col1 .ui-icon-eject{background-position:-112px -160px}#col1 .ui-icon-volume-off{background-position:-128px -160px}#col1 .ui-icon-volume-on{background-position:-144px -160px}#col1 .ui-icon-power{background-position:0 -176px}#col1 .ui-icon-signal-diag{background-position:-16px -176px}#col1 .ui-icon-signal{background-position:-32px -176px}#col1 .ui-icon-battery-0{background-position:-48px -176px}#col1 .ui-icon-battery-1{background-position:-64px -176px}#col1 .ui-icon-battery-2{background-position:-80px -176px}#col1 .ui-icon-battery-3{background-position:-96px -176px}#col1 .ui-icon-circle-plus{background-position:0 -192px}#col1 .ui-icon-circle-minus{background-position:-16px -192px}#col1 .ui-icon-circle-close{background-position:-32px -192px}#col1 .ui-icon-circle-triangle-e{background-position:-48px -192px}#col1 .ui-icon-circle-triangle-s{background-position:-64px -192px}#col1 .ui-icon-circle-triangle-w{background-position:-80px -192px}#col1 .ui-icon-circle-triangle-n{background-position:-96px -192px}#col1 .ui-icon-circle-arrow-e{background-position:-112px -192px}#col1 .ui-icon-circle-arrow-s{background-position:-128px -192px}#col1 .ui-icon-circle-arrow-w{background-position:-144px -192px}#col1 .ui-icon-circle-arrow-n{background-position:-160px -192px}#col1 .ui-icon-circle-zoomin{background-position:-176px -192px}#col1 .ui-icon-circle-zoomout{background-position:-192px -192px}#col1 .ui-icon-circle-check{background-position:-208px -192px}#col1 .ui-icon-circlesmall-plus{background-position:0 -208px}#col1 .ui-icon-circlesmall-minus{background-position:-16px -208px}#col1 .ui-icon-circlesmall-close{background-position:-32px -208px}#col1 .ui-icon-squaresmall-plus{background-position:-48px -208px}#col1 .ui-icon-squaresmall-minus{background-position:-64px -208px}#col1 .ui-icon-squaresmall-close{background-position:-80px -208px}#col1 .ui-icon-grip-dotted-vertical{background-position:0 -224px}#col1 .ui-icon-grip-dotted-horizontal{background-position:-16px -224px}#col1 .ui-icon-grip-solid-vertical{background-position:-32px -224px}#col1 .ui-icon-grip-solid-horizontal{background-position:-48px -224px}#col1 .ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}#col1 .ui-icon-grip-diagonal-se{background-position:-80px -224px}#col1 .ui-corner-all,#col1 .ui-corner-top,#col1 .ui-corner-left,#col1 .ui-corner-tl{border-top-left-radius:4px}#col1 .ui-corner-all,#col1 .ui-corner-top,#col1 .ui-corner-right,#col1 .ui-corner-tr{border-top-right-radius:4px}#col1 .ui-corner-all,#col1 .ui-corner-bottom,#col1 .ui-corner-left,#col1 .ui-corner-bl{border-bottom-left-radius:4px}#col1 .ui-corner-all,#col1 .ui-corner-bottom,#col1 .ui-corner-right,#col1 .ui-corner-br{border-bottom-right-radius:4px}#col1 .ui-widget-overlay{background:#666 url("/static_theme/static/images/jqueryUI/images/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;opacity:.5;filter:Alpha(Opacity=50)}#col1 .ui-widget-shadow{margin:-5px 0 0 -5px;padding:5px;background:#000 url("/static_theme/static/images/jqueryUI/images/ui-bg_flat_10_000000_40x100.png") 50% 50% repeat-x;opacity:.2;filter:Alpha(Opacity=20);border-radius:5px}

/* use a nice box around faq answers*/
.faq {
  border: 1px solid;
  padding: 10px;
  margin: 0px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}



/* if we show the background image before login -- BEGIN */
/* hide any subheader */
.global_nav_instances.not_logged_in #subheader {
  height: 0 !important;
  visibility: collapse;
  display: none;
}

/* adapt the height of the div with the picture */
.area-members.global_nav_home.not_logged_in * #col1,
.global_nav_instances.not_logged_in * #col1,{
  height: 270px;
}

/* show the explaining picture*/
.area-members.global_nav_home.not_logged_in * #col1 div,
.global_nav_instances.not_logged_in * #col1 div {
  background-image: url("/static_theme/static/images/intro-picture.png");
  width: 1056px;
  height: 426px;
  position: relative;
  top: -50px;
  z-index: 1000;
  background-size: 100% 100%;
}

/* place the login button at a better position and over the already existing "Anmelden" */
.area-members.global_nav_home.not_logged_in * #col1 div a,
.global_nav_instances.not_logged_in * #col1 div a {
  position: relative;
  top: 60px;
  width: 110px;
}

/*hide other picture*/
.area-members.global_nav_home.not_logged_in * #col1 div.form_wrapper,
.global_nav_instances.not_logged_in * #col1 div.form_wrapper {
  background: inherit !important;
}

/* don't show submenus or "start" at the beginning */
.area-members.global_nav_home.not_logged_in * .menu.hlist ul li ul.children ,
.area-members.global_nav_home.not_logged_in * #nav_home,
.global_nav_instances.not_logged_in * .menu.hlist ul li ul.children ,
.global_nav_instances.not_logged_in * #nav_home {
  visibility: hidden !important;
}


/* make all links clickable in the footer */
.area-members.global_nav_home.not_logged_in * footer#footer div.page_wrapper,
.global_nav_instances.not_logged_in * footer#footer div.page_wrapper {
  z-index: 9002; /* it's over 9000! */
}
/* if we show the background image before login -- END*/


/* if we show the background image after login -- BEGIN */
.global_nav_home.logged_in * #content-startpage {
  height: 377px;
  background-image: url("/static_theme/static/images/start.png");
  width: 1000px;
  background-size: 100% 100%;
}

/* if we show the background image after login -- END */